# Игнорировать папку с кэшэм __pycache__
__pycache__

# Игнорировать папку с кэшэм .mypy_cache
.mypy_cache

# Игнорировать папку с настройками .vscode
.vscode

# Игнорировать виртуальное окружение
env

# Игнорировать папку с логами
logs

dist